Checks: 'modernize-*,cppcoreguidelines-*,-modernize-use-trailing-return-type,-cppcoreguidelines-avoid-magic-numbers'

# Ignore everything except project headers and tests
HeaderFilterRegex: '^(include/|tests/)'
